// Override default variables before the import
$body-primary-bg: #8f8f8f;
$body-secondary-bg: #ffffff;
$button-primary: #fbca1b;
$button-primary-darker: #e2aa01;
$primary-font-color: #252737;
$auth-font-color: #54965a;
$form-assist-font-color: #6ccce1;
$alt-navigation-color: #030119;
// $alt-navigation-gradient:
$prefixes: -webkit-, -moz-, -o-, "";
$font-family: "Roboto", sans-serif;

// RESETS
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@mixin no-margin {
  margin: 0;
}
@mixin no-padding {
  padding: 0;
}
@mixin flex-center-align {
  display: flex !important;
  align-items: center;
}
@mixin flex-justify-center {
  display: flex !important;
  justify-content: center;
}
@mixin flex-justify-self-center {
  display: flex !important;
  align-self: center;
  justify-self: center;
}
@mixin flex-space-between {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-space-evenly {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}
@mixin flex-space-around {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
}
@mixin flex-end {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}
@mixin flex-column-center {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin transition {
  transition: all 0.4s;
}
@mixin background-image-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin background-image-contain {
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}
@mixin heading-font {
  font-family: $font-family;
  font-weight: 700;
}
@mixin p-font {
  font-family: $font-family;
  font-weight: 400;
}
@mixin section-padding($size...) {
  padding-top: 30px;
  padding-bottom: 50px;
}
@mixin flex-column-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin gradientBackground {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f0743,
    #41295a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f0743,
    #24103a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@mixin altGradientBackground {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2f0743,
    #36204e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2f0743,
    #36204e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin borderRadius($size...) {
  @if length($size) == 1 {
    @each $prefix in $prefixes {
      #{$prefix}border-radius: $size;
    }
  } @else {
    @include customBorderRadius($size...);
  }
}

@mixin customBorderRadius(
  $topLeft: 0,
  $topRight: 0,
  $bottomRight: 0,
  $bottomLeft: 0
) {
  @each $prefix in $prefixes {
    @if $prefix == "-moz-" {
      @if $topLeft != 0 {
        -moz-border-radius-topleft: $topLeft;
      }
      @if $topRight != 0 {
        -moz-border-radius-topright: $topRight;
      }
      @if $bottomRight != 0 {
        -moz-border-radius-bottomright: $bottomRight;
      }
      @if $bottomLeft != 0 {
        -moz-border-radius-bottomleft: $bottomLeft;
      }
    } @else {
      @if $topLeft != 0 {
        #{$prefix}border-top-left-radius: $topLeft;
      }
      @if $topRight != 0 {
        #{$prefix}border-top-right-radius: $topRight;
      }
      @if $bottomRight != 0 {
        #{$prefix}border-bottom-right-radius: $bottomRight;
      }
      @if $bottomLeft != 0 {
        #{$prefix}border-bottom-left-radius: $bottomLeft;
      }
    }
  }
}

* {
  scroll-behavior: smooth;
}

p {
  @include p-font();
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font();
}

img {
  image-rendering: -webkit-optimize-contrast;
}

::-webkit-scrollbar {
  width: 10px;
}

// ::-webkit-scrollbar-track {
//   // border-radius: 20px;
// }

::-webkit-scrollbar-thumb {
  // background: $alt-navigation-color;
  @include altGradientBackground();
  margin: 3px;
}

.App {
  font-size: 14px;
  transition: 0.3s all;
  overflow: hidden;
  .header {
    height: 15vh;
    // background-color: $alt-navigation-color;
    @include gradientBackground();
    z-index: 500;
    &.active {
      width: 100%;
      height: 15vh;
      position: fixed;
      z-index: 500;
    }
    @include flex-center-align();
    .container {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
    }
  }
}

main {
  background-color: #f5f6fa;
}

.hamburger {
  height: 30px;
  // background-color: #c3c3c3;
  // padding: 5px;
  @include borderRadius(3px);
  @include flex-center-align();
  @include flex-justify-center();
  &:hover {
    cursor: pointer;
  }
  img {
    transition: 0.1s all;
  }
}

nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    @include no-margin();
    @include no-padding();
    li {
      margin-right: 1rem;
      a {
        color: $body-secondary-bg;
        font-weight: 400;
        margin: 10px;
        &:hover {
          color: $button-primary;
          text-decoration: none;
        }
        span {
          @include flex-center-align();
          font-size: 15px;
          font-weight: 400;
          padding: 5px 10px 5px 5px;
          border-radius: 20px;
          @include transition();
          // font-size: 17px;
          &:hover {
            @include transition();
            background-color: rgba(255, 255, 255, 0.158);
          }
        }
      }
    }
  }
  .topup-btn {
    @include borderRadius(5px !important);
    background-color: $button-primary;
    color: $body-secondary-bg;
    font-weight: 500;
    border: none;
    box-shadow: 0px 3px 10px -7px #ffffff;
    -webkit-box-shadow: 0px 3px 10px -7px #ffffff;
    -moz-box-shadow: 0px 3px 10px -7px #ffffff;
    @include transition();
    &:hover {
      background-color: white;
      color: $button-primary-darker;
      @include transition();
      box-shadow: 0px 5px 10px -7px #ffbf00;
      -webkit-box-shadow: 0px 5px 10px -7px #ffbf00;
      -moz-box-shadow: 0px 5px 10px -7px #ffbf00;
    }
  }
  .loan-btn {
    @include borderRadius(5px !important);
    padding: 0 20px;
    background-color: $button-primary;
    color: $body-secondary-bg;
    font-weight: 500;
    border: none;
    box-shadow: 0px 3px 10px -7px #ffffff;
    -webkit-box-shadow: 0px 3px 10px -7px #ffffff;
    -moz-box-shadow: 0px 3px 10px -7px #ffffff;
    @include transition();
    &:hover {
      background-color: white;
      color: $button-primary-darker;
      @include transition();
      box-shadow: 0px 5px 10px -7px #ffbf00;
      -webkit-box-shadow: 0px 5px 10px -7px #ffbf00;
      -moz-box-shadow: 0px 5px 10px -7px #ffbf00;
    }
  }
}

.logo-wrapper {
  width: auto;
  height: 60px;
}

#hero {
  height: calc(100vh - 12vh);
}

.hero-carousel {
  .slick-track {
    height: calc(100vh - 12vh);
  }
  .slick-prev {
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50px;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #0000001a;
    z-index: 200;
    &::before {
      content: none;
      font-family: "slick";
      font-size: 50px;
      line-height: 1;
      opacity: 0.75;
      color: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .prev {
      margin: 0 auto;
      background-image: url(../arrowleft.svg);
      @include background-image-contain();
      height: 30px;
      width: 30px;
    }
  }
  .slick-next {
    line-height: 0;
    position: absolute;
    top: 50%;
    right: 50px;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #0000001a;
    // z-index: 200;
    &::before {
      content: none;
      font-family: "slick";
      font-size: 50px;
      line-height: 1;
      opacity: 0.75;
      color: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .next {
      margin: 0 auto;
      background-image: url(../arrowright.svg);
      @include background-image-contain();
      height: 30px;
      width: 30px;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 35px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    opacity: 0;
    .slick-active {
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &::before {
          font-family: "slick";
          font-size: 10px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: "•";
          text-align: center;
          opacity: 0.75;
          color: $button-primary;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }
}

.carousel-item {
  @include flex-justify-center();
  .slide1 {
    background-image: url(https://images.pexels.com/photos/4260639/pexels-photo-4260639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    @include background-image-cover();
    height: calc(100vh - 16vh);
    width: 100vw;
  }
  .slide2 {
    background-image: url(../247.jpg);
    @include background-image-cover();
    height: calc(100vh - 16vh);
    width: 100vw;
  }
  .slide3 {
    background-image: url(https://images.pexels.com/photos/45111/pexels-photo-45111.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    @include background-image-cover();
    height: calc(100vh - 16vh);
    width: 100vw;
  }
  .slide4 {
    background-image: url(../shoppingcart.svg);
    @include background-image-cover();
    height: calc(100vh - 16vh);
    width: 100vw;
  }
  h4 {
    position: absolute;
    top: 46%;
    font-weight: 700;
    font-size: 50px;
    color: $button-primary;
  }
}

////////////// ABOUT /////////////////////

.about {
  height: calc(100vh - 5vh);
  @include section-padding();
  .section-heading {
    border-radius: 10px;
    width: fit-content;
    background-color: $button-primary;
    font-weight: 900;
    margin: 0 auto;
  }
  .cards-container {
    text-align: center;
    @include flex-column-align();
    padding: 0 60px;
  }
  .cards {
    margin: 6rem 0;
    .icon {
      background-color: $button-primary;
      @include borderRadius(10px);
      height: 70px;
      width: 70px;
      padding: 10px;
      margin-bottom: 30px;
    }
    .all-day {
      background-image: url(../247.svg);
      @include background-image-cover();
      @include flex-center-align();
      height: 50px;
      width: 50px;
    }
    .secure-payment {
      background-image: url(../securepayment.svg);
      @include background-image-cover();
      @include flex-center-align();
      height: 50px;
      width: 50px;
    }
    .loan {
      background-image: url(../paylater.svg);
      @include background-image-cover();
      @include flex-center-align();
      height: 50px;
      width: 50px;
    }
  }
}

.service-provider {
  @include section-padding();
  .section-heading {
    border-radius: 10px;
    width: fit-content;
    background-color: $button-primary;
    font-weight: 900;
    margin: 0 auto;
  }
  .col-md-3 {
    @include flex-justify-center();
  }
  .cards {
    margin: 6rem 0;
    .provider-container {
      padding: 0 1.5rem;
      text-align: center;
      @include borderRadius(10px);
      background-color: $body-secondary-bg;
      height: 80px;
      width: 150px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .icon {
      background-color: $button-primary;
      @include borderRadius(10px);
      height: 70px;
      width: 70px;
      padding: 10px;
      margin-bottom: 30px;
    }
    .ie {
      background-image: url(../ike.svg);
      @include background-image-contain();
      @include flex-center-align();
      height: 100%;
      width: 70px;
    }
    .ekedc {
      background-image: url(../ekedc.svg);
      @include background-image-contain();
      @include flex-center-align();
      height: 100%;
      width: 90px;
    }
    .etransact {
      background-image: url(../Etranzact.svg);
      @include background-image-contain();
      @include flex-center-align();
      height: 100%;
      width: 120px;
    }
    .interswitch {
      background-image: url(../Interswitch.svg);
      @include background-image-contain();
      @include flex-center-align();
      height: 100%;
      width: 150px;
    }
  }
}

.get-started {
  @include flex-column-center();
  @include section-padding();
  p {
    text-align: center;
    margin-top: 1.2rem;
    font-size: 18px;
  }
  .download-appstore {
    width: 340px;
    height: 60px;
    @include flex-space-around();
    img {
      height: 43px;
    }
  }
}

///////////////// LOGIN ///////////////

.login {
  height: 100vh;
  background-image: url(../loginbackground.svg);
  @include background-image-cover();
  .row {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  .col-md-6,
  .col-md-12 {
    height: fit-content;
    position: relative;
    margin: 0 auto;
    top: 100px;
  }
  .form-container {
    background-color: rgba(255, 255, 255, 0.36);
    padding: 80px 60px;
    // border: solid 1px $button-primary;
    box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    @include borderRadius(10px);
  }
  .form-heading {
    height: 50px;
    @include flex-space-between();
    h2 {
      @include heading-font();
      color: $primary-font-color;
      margin: 0;
    }
  }
  form {
    padding-top: 15px;
    .form-assist {
      @include flex-space-between();
      button {
        @include p-font();
        border: none;
        background-color: transparent;
        font-size: 14px;
        color: $form-assist-font-color;
      }
    }
  }
  .form-group {
    input {
      box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
      -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
      -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
    }
  }

  .finish {
    padding-top: 20px;
    @include flex-end();
    .signin-btn {
      @include p-font();
      background-color: $auth-font-color;
      font-weight: 600;
      font-size: 18px;
      border: none;
      color: $body-secondary-bg;
      @include borderRadius(10px);
    }
    .signup-btn {
      margin-left: 15px;
      border: none;
      background-color: transparent;
      font-weight: 600;
      font-size: 18px;
      color: $primary-font-color;
      box-shadow: none;
    }
  }

  .exit {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    padding: 0;
    @include flex-center-align();
    @include flex-justify-center();
    &:focus {
      outline: none;
    }
    .icon {
      width: 60%;
      height: 60%;
      background-image: url(../close.svg);
      @include background-image-contain();
    }
  }
}

///////////////// SIGN UP ///////////////

.signup {
  height: 100vh;
  background-image: url(../loginbackground.svg);
  @include background-image-cover();
  .row {
    height: 100%;
    @include flex-justify-center();
    @include flex-center-align();
    .col-md-8 {
      height: fit-content;
    }
  }
  .container {
    height: 100%;
  }

  .form-container {
    background-color: rgba(255, 255, 255, 0.36);
    padding: 60px 60px;
    // border: solid 1px $button-primary;
    box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    @include borderRadius(10px);
  }
  .form-heading {
    height: 50px;
    @include flex-space-between();
    h2 {
      @include heading-font();
      color: $primary-font-color;
      margin: 0;
    }
  }
  form {
    padding-top: 15px;
    .form-assist {
      @include flex-space-between();
      button {
        @include p-font();
        border: none;
        background-color: transparent;
        font-size: 14px;
        color: $form-assist-font-color;
      }
    }
  }
  .form-group {
    input {
      box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
      -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
      -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
    }
    .category {
      @include flex-space-between();
      justify-content: space-around;
    }
  }

  .exit {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    padding: 0;
    @include flex-center-align();
    @include flex-justify-center();
    &:focus {
      outline: none;
    }
    .icon {
      width: 60%;
      height: 60%;
      background-image: url(../close.svg);
      @include background-image-contain();
    }
  }
  .finish {
    padding-top: 20px;
    @include flex-end();
    .signin-btn {
      @include p-font();
      background-color: $auth-font-color;
      font-weight: 600;
      font-size: 18px;
      border: none;
      color: $body-secondary-bg;
      @include borderRadius(10px);
    }
    .signup-btn {
      margin-left: 15px;
      border: none;
      background-color: transparent;
      font-weight: 600;
      font-size: 18px;
      color: $primary-font-color;
      box-shadow: none;
    }
  }
}

////////////////// LOAN //////////////////

.loan {
  height: 100vh;
  background-image: url(../topupbackground.svg);
  @include background-image-cover();
  background-position: 0 0 !important;
  .row {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  .col-md-6,
  .col-md-12 {
    height: fit-content;
    position: relative;
    margin: 0 auto;
    top: 80px;
  }
  .form-container {
    background-color: rgba(255, 255, 255, 0.36);
    padding: 80px 60px;
    // border: solid 1px $button-primary;
    box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    @include borderRadius(10px);
  }
  .form-heading {
    height: 50px;
    @include flex-space-between();
    h2 {
      @include heading-font();
      color: $primary-font-color;
      margin: 0;
    }
  }
  form {
    padding-top: 15px;
    .form-assist {
      @include flex-space-between();
      button {
        @include p-font();
        border: none;
        background-color: transparent;
        font-size: 14px;
        color: $form-assist-font-color;
      }
    }
  }
  .form-group {
    input {
      box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
      -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
      -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
    }
  }

  .finish {
    padding-top: 20px;
    @include flex-end();
    .signin-btn {
      @include p-font();
      background-color: $auth-font-color;
      font-weight: 600;
      font-size: 18px;
      border: none;
      color: $body-secondary-bg;
      @include borderRadius(10px);
    }
    .signup-btn {
      margin-left: 15px;
      border: none;
      background-color: transparent;
      font-weight: 600;
      font-size: 18px;
      color: $primary-font-color;
      box-shadow: none;
    }
  }

  .exit {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    padding: 0;
    @include flex-center-align();
    @include flex-justify-center();
    &:focus {
      outline: none;
    }
    .icon {
      width: 60%;
      height: 60%;
      background-image: url(../close.svg);
      @include background-image-contain();
    }
  }
}

// TOPUP ////////////////////

.quicktopup {
  height: 100vh;
  background-image: url(../topupbackground.svg);
  @include background-image-cover();
  background-position: 0 0 !important;
  .row {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  .col-md-6,
  .col-md-12 {
    height: fit-content;
    position: relative;
    margin: 0 auto;
    top: 80px;
  }
  .form-container {
    background-color: rgba(255, 255, 255, 0.36);
    padding: 80px 60px;
    // border: solid 1px $button-primary;
    box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.59);
    @include borderRadius(10px);
  }
  .form-heading {
    height: 50px;
    @include flex-space-between();
    h2 {
      @include heading-font();
      color: $primary-font-color;
      margin: 0;
    }
  }
  form {
    padding-top: 15px;
    .form-assist {
      @include flex-space-between();
      button {
        @include p-font();
        border: none;
        background-color: transparent;
        font-size: 14px;
        color: $form-assist-font-color;
      }
    }
  }
  .form-group {
    input {
      box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
      -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
      -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.233);
    }
  }

  .finish {
    padding-top: 20px;
    @include flex-end();
    .signin-btn {
      @include p-font();
      background-color: $auth-font-color;
      font-weight: 600;
      font-size: 18px;
      border: none;
      color: $body-secondary-bg;
      @include borderRadius(10px);
    }
    .signup-btn {
      margin-left: 15px;
      border: none;
      background-color: transparent;
      font-weight: 600;
      font-size: 18px;
      color: $primary-font-color;
      box-shadow: none;
    }
  }

  .exit {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    padding: 0;
    @include flex-center-align();
    @include flex-justify-center();
    &:focus {
      outline: none;
    }
    .icon {
      width: 60%;
      height: 60%;
      background-image: url(../close.svg);
      @include background-image-contain();
    }
  }
}

// FOOTER ////////////////////

.footer {
  // background-color: $alt-navigation-color;
  @include altGradientBackground();
  @include section-padding();
  position: relative;
  .banner {
    padding-top: 30px;
    height: 150px;
    p {
      color: $body-secondary-bg;
      font-size: smaller;
    }
  }
  .head {
    @include flex-column-align();
    align-items: unset;
    margin-top: 60px;
    h4 {
      font-size: 22px;
      font-weight: 500;
      color: $body-secondary-bg;
    }
  }
  .social-media {
    @include flex-justify-center();
    justify-content: unset;
    button {
      margin-right: 15px;
    }
  }
  button {
    text-align: left;
    border: none !important;
    background-color: transparent;
    color: $body-secondary-bg;
    font-family: $font-family;
    font-weight: 300;
    padding: 5px 0;
    &:focus {
      outline: none !important;
    }
  }
  .support {
    display: inline-block;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 500; // The Highest z=number for z-index used is 500
    @include borderRadius(50px);
    button {
      @include flex-justify-center();
      @include flex-center-align();
      border: none;
      border-radius: 50%;
      box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.349);
      -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.349);
      -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.349);
      background-color: transparent;
      transition: all 0.2s;
      height: 60px;
      width: 60px;
      .exitChat {
        padding: 5px;
        background-color: $button-primary;
        border-radius: 50px;
      }
      &:focus {
        outline: none;
        border: none;
        padding: 0.5px;
        transition: all 0.2s;
      }
    }
  }
  .chatbox {
    overflow: hidden;
    position: absolute;
    background-color: $body-secondary-bg;
    right: 0;
    bottom: 70px;
    width: 300px;
    height: 510px;
    transform: translateY(-580px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include borderRadius(10px);
    box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.349);
    -webkit-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.349);
    -moz-box-shadow: 9px 9px 19px -5px rgba(0, 0, 0, 0.349);
    .head {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row !important;
      align-items: center;
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $button-primary;
      color: $body-secondary-bg;
      border: none;
    }

    .body {
      height: inherit;
      border: none;
      border-bottom: 0.5px solid #0000000d;
    }
    .chat-bubble {
      // border: solid 1px green;
      margin: 5px 0;
      color: white;
      @include altGradientBackground();
      @include borderRadius(10px);
      box-shadow: 0px 6px 11px -7px rgba(0, 0, 0, 0.349);
      -webkit-box-shadow: 0px 6px 11px -7px rgba(0, 0, 0, 0.349);
      -moz-box-shadow: 0px 6px 11px -7px rgba(0, 0, 0, 0.349);
      padding: 1rem;
      .alias {
        color: $button-primary-darker;
        font-weight: 600;
      }
    }
    .textbox {
      @include flex-end();
      border: none;
      form {
        @include flex-justify-center();
        width: 100%;
        input {
          border: none;
          background-color: whitesmoke;
          color: black;
          width: 100%;
          padding: 10px 15px;
          box-shadow: 0px 6px 11px -7px rgba(0, 0, 0, 0.349);
          -webkit-box-shadow: 0px 6px 11px -7px rgba(0, 0, 0, 0.349);
          -moz-box-shadow: 0px 6px 11px -7px rgba(0, 0, 0, 0.349);
          @include borderRadius(10px);
          &:focus {
            outline: none;
            background-color: rgb(231, 231, 231);
          }
        }

        button {
          width: 40px;
          height: 40px;
          border: none;
          background-color: $button-primary;
          margin-left: 15px;
          transition: none;
          @include borderRadius(50%);
          padding: 0 15px;
          color: black;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .back-to-top {
    @include flex-column-align();
    position: fixed;
    right: 7px;
    bottom: 160px;
    color: $primary-font-color;
    font-weight: 600;
    font-size: 13px;
    transition: 0.3s all;
    &:hover {
      cursor: pointer;
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  .inner-popups {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
  }
}

//////////////////// MEDIA QUERY //////////////////

// SHOW AND HIDE HAMBURGER

@media only screen and (min-width: 768px) and (max-width: 3650px) {
  .hamburger {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    .banner {
      height: 120px;
    }
  }
}

@media only screen and (min-width: 575px) and (max-width: 768px) {
  // About

  .about {
    .cards-container {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 575px) {
  .about {
    .cards-container {
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* Styles here */
  .hamburger {
    display: flex !important;
  }
  nav {
    display: flex !important;
    width: 0vw;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 300;
    opacity: 0;
    // background-color: black;
    @include gradientBackground();
    transition: 0.1s all;
    &.active {
      display: flex !important;
      width: 100vw;
      overflow: hidden;
      position: absolute;
      right: 0px;
      top: 15vh;
      padding: 1rem 0;
      // background-color: $alt-navigation-color;
      @include altGradientBackground();
      z-index: 200;
      opacity: 1;
      transition: 0.1s all;
    }
    ul {
      @include flex-column-align();
      justify-content: unset;
      width: 100%;
      height: 100vh;
      li {
        width: -webkit-fill-available !important;
        // height: 40px;
        margin: 0;
        padding: 10px 0;
        @include flex-center-align();
        border-bottom: 0.5px solid #e2aa010d;
      }
    }
  }

  .logo-wrapper {
    height: 50px;
  }

  .signup,
  .login,
  .quicktopup {
    .form-container {
      padding: 30px 20px;
    }
    .finish {
      padding-top: 0;
    }
  }

  // Hero Carousel

  .slick-next,
  .slick-prev {
    opacity: 0;
  }
  .carousel-item h4 {
    top: 35%;
    font-weight: 600;
    font-size: 35px;
    width: 250px;
    text-align: center;
  }
  .slick-dots li {
    opacity: 0;
  }

  // About

  .about {
    height: unset;
  }

  .service-provider {
    .section-heading {
      font-weight: 600;
    }
    .cards {
      .provider-container {
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
  }

  // Footer
  .footer {
    // .support {
    // }
    .banner {
      height: 100px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .signup,
  .login,
  .quicktopup,
  .loan {
    .form-container {
      padding: 30px 20px;
    }
  }
  .signup {
    .col-md-8 {
      padding: 0;
    }
  }
  .login,
  .quicktopup,
  .loan {
    .col-md-6 {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 425px) {
  p {
    font-size: 14px;
  }
  .get-started {
    p {
      font-size: 14px;
    }
  }
  .service-provider,
  .about {
    .section-heading {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  .get-started {
    .download-appstore {
      @include flex-space-evenly();
      img {
        height: 35px;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  /* Styles here */
  .hamburger {
    display: none;
  }
}

// Import Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap.scss";
